.header {
	 width: 90%;
	 margin: 0 auto;
	 display: flex;
	 justify-content: space-between;
	 align-items: flex-end;
	 padding: 20px 0;
}
 .header .logo {
	 height: 36.37px;
}
 .header nav ul {
	 display: flex;
	 list-style: none;
}
 .header nav ul a {
	 color: #434343;
	 padding-left: 30px;
	 text-decoration: none;
	 font-size: 20px;
	 font-weight: 400;
}
 .header nav ul a:hover {
	 color: #a02279;
}
 .header .btn {
	 font-size: 16px;
	 font-weight: 400;
	 color: white;
	 background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
	 padding: 15px 25px;
	 border-radius: 10px;
	 border: none;
}
 .header .btn:hover {
	 background: linear-gradient(90deg, #a02278 91 11.45%, #a02278 98 11.45%);
}
 