footer {
	 background-color: #1d1d1e;
	 width: 100%;
}
 footer .container {
	 width: 90%;
	 margin: 0 auto;
	 padding-top: 50px;
	 color: white;
	 display: flex;
	 flex-direction: column;
}
 footer .container .footerTop {
	 display: flex;
	 justify-content: space-between;
}
 footer .container .footerTop .social {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
}
 footer .container .footerTop .community .title, footer .container .footerTop .places .title, footer .container .footerTop .about .title {
	 font-size: 18px;
	 font-weight: 700;
	 margin-bottom: 20px;
     text-align: left;
}
 footer .container .footerTop .community li, footer .container .footerTop .places li, footer .container .footerTop .about li {
	 padding-bottom: 15px;
     text-align: left;
}
 footer .container .footerTop .community a, footer .container .footerTop .places a, footer .container .footerTop .about a {
	 font-size: 14px;
	 font-weight: 400;
	 list-style: none;
	 text-decoration: none;
	 color: white;
}
 footer .container .footerTop .community a:hover, footer .container .footerTop .places a:hover, footer .container .footerTop .about a:hover {
	 color: #a02279;
}
 footer .container .footerDown {
	 padding: 25px 0;
     text-align: left;
}

.footerDown {
	 padding: 45px 0;
     text-align: left;
	 background-color: red;
}
 